@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col-md-2 col-sm-1">
    </div>
    <div class="col-md-8 col-sm-8">
        <h2>Asp In A Net: The Dangerous Pet Shop - About</h2>
        <p class="text-success">  We here at Asp In A Net strive to make available some of the more harder to get pets,</p>
        <p class="text-success">  animals that most of society label as "dangerous", but that we think are just misunderstood.</p>
        <p class="text-success">  Snakes are vicious? Not at all they are only defending themselves.</p>
        <p class="text-success">  Crocodiles are Man-eaters? Not if you feed them something else.</p>
        <p class="text-success">  Cougars are wild and untamable? Have you even given them the chance?</p>
        <p class="text-success">  Spiders are creepy? Why don't you look in the mirror before being so judgy. Hmmm?</p>
        <p class="text-success">  All animals deserve love. And the so called "dangerous" ones give you the most exciting love.</p>
        <p class="text-success">  Adrenaline filled love.</p>
    </div>
    <div class="col-md-2 col-sm-1">
    </div>
</div>