@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Tooth Ree st<br />
    Aucktonchurch, New Zealcity<br />
    <abbr title="Phone">P:</abbr>
    012.345.6789
</address>

<address>
    <strong>Helpdesk:</strong>   <a href="mailto:Helpdesk@AspInANet.com">Helpdesk@AspInANet.com</a><br />
    <strong>Admin:</strong> <a href="mailto:Admin@AspInANet.com">Admin@AspInANet.com</a>
</address>